@using OffOnOtomasyonu.Models.Sınıflar;
@{
    ViewBag.Title = "UrunGeriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div>
    <div style="float:left">

        <h2>Kaldırılan Ürünler Listesi</h2>

    </div>



    <div style="float:right">
        <p>
            <a href="/Urun/GuncelUrunListesi/" class="btn btn-default" align="right" style="        background-color:#C000FE; margin-right: 30px; color:white;"> Güncel Ürünler</a>
            <a href="/Urun/Index/" class="btn btn-default" align="right" style="        background-color:#873962; margin-right: 30px; color:white;"> Tüm Ürünler</a>
            <a href="/Urun/UrunGeriGetirListesi/" class="btn btn-default" align="right" style="margin-right:30px; background-color:burlywood; color:white"> Yazdır</a>



        </p>

    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün Görsel</th>
        <th>Ürün Adı</th>

        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Kategori</th>
        <th>Ürün Görsel</th>


        <th>Sil</th>
        <th>Geri Al</th>


    </tr>

    @foreach (var u in Model)
    {
        <tr>

            <td>@u.Urunid</td>
            <td> <a href="@u.UrunGorsel"> <img src="@u.UrunGorsel" style="width:100px; height:100px;" /></a></td>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyat</td>
            <td>@u.SatisFiyat</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>@u.UrunGorsel</td>

            <td> <a href="/Urun/UrunSil/@u.Urunid" class="btn btn-danger"> Sil</a></td>
            <td> <a href="/Urun/UrunGeriAl/@u.Urunid" class="btn btn-warning" style="color:white;"> Geri Al</a></td>



        </tr>


    }

</table>

