@model OffOnOtomasyonu.Models.Siniflar.Gider
@{
    ViewBag.Title = "GiderGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<h2>Gider Güncelleme</h2>
<br />
@using (Html.BeginForm("GiderGuncelle", "Gider", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Giderid)
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Tutar)
        @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        <br />

    </div>


    <button class="btn btn-warning" id="Btn1">Güncelle</button>
    <script>
        $('#Btn1').click(function () {
            alert("Gider Başarılı Bir Şekilde Güncellendi! Giderler Sayfasına Yönlendiriliyorsunuz...")
        });

    </script>

}


